<nav>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             <div class="topnav" id="myTopnav" style="float: left;">
    <a href="/index.html"><i class="fas fa-home"></i></a>
    <a href="/blog/index.html"><i class="fas fa-blog"></i></a>
    <a href="/about/index.html"><i class="fas fa-address-card"></i></a>
   	<a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"><i class="fa-regular fa-sun"></i></a>

	<a href="http://www.geedbla.com/feed.xml" style="float: right;">RSS</i></a>
	<a href="mailto:{{site.email}}" style="float: right;"><i class="fas fa-envelope"></i></a>
	<a href="https://github.com/{{site.github_username}}" style="float: right;"><i class="fab fa-github"></i></a>
	<a href="https://www.twitter.com/{{site.twitter_username}}" style="float: right;"><i class="fab fa-twitter" aria-hidden="true"></i></a>
	<a href="https://iosdev.space/%40{{site.mastodon_username}}" style="float: right;"><i class="fa-brands fa-mastodon"></i></a>
</nav>
